---
layout: default
date: 2014-10-19 23:51
---
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-offset-0 col-md-10 col-lg-offset-2 col-lg-8">
			{% for post in site.posts %}
			<div class="blog-short">
				<h4>
					<li class="list-inline">
						<small> <i class="fa fa-calendar-check-o"></i>
							<time>
								{{ post.date | date:'%A, %B %d, %Y'}}
							</time>

							{% for tag in post.tags %}
							<i class="fa fa-tags"></i>
							<span >{{tag}}</span>
							{% endfor %}
						</small>
					</li>
					<li>
						<a href="{{post.url | prepend: site.baseurl}}">
							{{post.title}} </a>
					</li>
				</h4>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
